<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="stylesheet" type="text/css" href="css/ui_common.css?date20210330" />
<link rel="stylesheet" type="text/css" href="css/ui_style.css?date20210330" />
<link rel="stylesheet" type="text/css" href="css/ui_main.css?date20210330" />
<title>Lime Whale | 허도경(HEO DO KYUNG) | Portfolio</title>
</head>
<body>
<div id="wrap" class="main">
	<div id="skip_menu">
		<a href="#gnb">주메뉴 바로가기</a>
		<a href="#content">본문 바로가기</a>
	</div>

	<section id="header__area" class="wide">
		<header>
			<h1 id="logo" class="main txt"><a href="index.html">HEO.D.K</a></h1>
			<nav id="web">
				<ul id="gnb">
					<li><a href="https://whales.tistory.com/" target="_blank">Blog</a></li>
					<li><a href="https://github.com/heodokyung/markup-guide/blob/master/README.md" target="_blank">Makeup Guide</a></li>
				</ul>
			</nav>
			<nav id="mobile">
				<a href="#" class="btn_menu"><span></span></a>
			</nav>
			<ul class="m_menu">
				<li><a href="https://whales.tistory.com/" target="_blank">Blog</a></li>
				<li><a href="https://github.com/heodokyung/markup-guide/blob/master/README.md" target="_blank">Makeup Guide</a></li>
			</ul>
		</header>
		<div class="progressbar" id="scrollBar"></div>
	</section>

	<section class="container">
		<article class="main__visual">
			<div class="title_wrap">
				<p class="tit">UI & UX<br> <span>Front End</span> Developer</p>
				<div class="typing--txt sub_tit">
					<ul>
						<li>웹표준 및 웹 접근성 지식으로 사용자에게 보다 좋은 UI를 제공하려고 노력합니다.</li>
						<li>개발자 직무 경험을 바탕으로 간결하고 효율적인 코드로 작업을 진행하며</li>
						<li>보다 좋은 GUI를 구현하기 위해 고민하고 소통하며 협업합니다.</li>
					</ul>
				</div>
				<div class="typing sub_tit">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="movement__wrap"><div><em>scroll</em></div></div>
		</article>


		<article id="wrapper">
			<article>
				<span class="guide"></span>
				<div class="sort__wrap">
					<label for="sort">SORT :</label>
					<section class="select">
						<select id="sort" title="Sort 기능" v-model="sort" @change="sortChange">
							<option value="all">ALL</option>
							<option value="y2018">현재 ~ 2018</option>
							<option value="y2017">2017</option>
							<option value="y2016">2016</option>
							<option value="y2015">2015</option>
							<option value="y2014">2014</option>
							<option value="y2013">2013</option>
							<option value="y2012">2010 ~ 2012</option>
							<option value="w">Web</option>
							<option value="m">Mobile</option>
							<option value="r">Responsive</option>
							<option value="ui">Front-End [UI]</option>
							<option value="dev">Back-End</option>
						</select>
					</section>
				</div>
			</article>

			<article class="port__list--wrap">
				<h2 class="title">Works</h2>
				<ul v-if="!query" class="port__list">
					<portfolio-items v-for="(items, index) in portfolio" :key="index" :items="items" :class="items.gubun"></portfolio-items>
				</ul>
			</article>
			<!-- //port__list--wrap -->

		</article>
		<!-- // wapper -->

		<article class="work_skill">
			<h2 class="title">skill</h2>
			<lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_WdTEui.json"  background="transparent"  speed="1"  style="width: 100%; height: 400px;"  loop  autoplay></lottie-player>

			<ul class="skill__list">
				<skill-list v-for="(items, index) in skill" :key="index" :items="items" :class="items.class"></skill-list>
			</ul>
		</article>

		<article class="work_experience">
			<h2 class="title">Works</h2>
			<div>
				<lottie-player src="https://assets9.lottiefiles.com/datafiles/MUp3wlMDGtoK5FK/data.json"  background="transparent"  speed="1"  style="width: 100%; height: 300px;"  loop  autoplay></lottie-player>
			</div>
			<!-- Main.js에서 관리. : workExp -->
			<div class="step--list__guide info__wrap"></div>
			<!--// Main.js에서 관리. : workExp -->
		</article>

		<article class="info__about">
			<h2 class="title">about</h2>
			<lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_kj1b8w1w.json"  background="transparent"  speed="1"  style="width: 100%; height:350px;"  loop  autoplay></lottie-player>
			<!-- Main.js에서 관리. : infoAbout -->
			<div class="step--list__guide info__wrap"></div>
			<!-- //Main.js에서 관리. : infoAbout -->
		</article>
	</section>

	<footer>
		<div class="footer_area">
			<p class="footer_logo"><img src="img/footer_whale.png" alt="whale tail" /></p>
			<div class="copyright">
				<p>Copyright © HEO.D.K All rights reserved.</p>
				<address><a href="mailto:limewhale@daum.net">limewhale@daum.net</a></address>
			</div>
		</div>
		<button type="button" class="scrollup"><span>Scroll Top</span></button>
	</footer>

</div><!-- //wrap -->

</body>
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/lottie-player.js"></script>
<script type="text/javascript" src="js/vue-2.5.17.min.js"></script>
<script type="text/javascript" src="js/ui.js?date20210810"></script>
<script type="text/javascript" src="js/mainVue.js?date20210810"></script>
<script type="text/javascript" src="js/main.js?date20210810"></script>
</html>
