/************************************************
    Decrition : 허도경 HEO.D.K
    Version : 1.0

    --- CSS LIST ---
    01. MAIN STYLE CSS
    02. MEDIA QUARY CSS
************************************************/

/**************************
    01. MAIN STYLE CSS
***************************/
.over {display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0, .4); color:#fff;}

#wrap {overflow:inherit; height:100%;}
#wrap.on {overflow:hidden;}
#wrap.on.main .port__list--wrap {padding-top:60px;}
#header__area.wide #logo {top:18px; left:30px;}
#header__area.wide #logo a {width:95px !important;}

/* Main */
#logo {width:55px;}
#wrapper {position:relative;}
#scroller {width:100%;}
#scroller.scroll {position:relative; overflow-x:scroll;}
#header__area.wide #gnb {top:30px; right:30px;}
#wrapper .guide.scroll {display:inline-block;}
.sort__wrap {position:relative; padding:8px 30px; background:#172336; z-index:10; color:#fff; font-family:"notoSansB";}
.sort__wrap label {position:absolute; top:20px;}
/* Custom Select */
.sort__wrap .select {position: relative; display: flex; width:13em; height: 3em; line-height: 3; margin-left:65px; background: #2c3e50; overflow: hidden; border-radius: .25em;}
.sort__wrap select {height:100%; font-size:16px;}
.sort__wrap .sch_txt {height:28px; border:0; width: 205px; padding-left: 10px; box-sizing:border-box;}
/* Arrow */
.sort__wrap .select::after {content: '\25BC'; position: absolute; top: 0; right: 0; padding: 0 1em; background: #34495e; cursor: pointer; pointer-events: none; -webkit-transition: .25s all ease; -o-transition: .25s all ease; transition: .25s all ease;}
/* Transition */
.sort__wrap .select:hover::after {color: #f6ee0b;}

.search_result {}
.search_result .tit {margin:-20px 0 10px 15px;}

.title, .sub_title {text-transform: uppercase; margin: 20px 30px 0; font-size: 42px; color:#222; font-family:"NotoSansB";}
.sub_title {position:relative; border-bottom:0; margin:0 0 10px 0; padding-bottom:7px; font-size:24px;}
.sub_title:after {display:inline-block; position:absolute; left:0; bottom:0; width:35px; border-bottom:2px solid #222; content:"";}

/* Scroll 시 메인 해더 고정 */
#header__area.on {height:65px; border-bottom:2px solid #fff;}
#header__area.on #logo {top:-12px; left:20px;}
#header__area.on #logo.txt a {border:none;}
#header__area.on #mobile {top:17px}
#header__area.on .m_menu {top:65px;}
#header__area.on #gnb {top:11px;}
#header__area.on #gnb > li > a {font-size:20px; line-height:22px; font-weight:bold;}
.main__visual.on {margin-top:65px;}

/* Work Portfolio */
.port__list--wrap {background:#fff;}
.port__list {position:relative; padding:30px 10px 0; background:#fff; overflow:hidden;}
.port__list li {position:relative; float:left; width:23%; margin:0 1% 35px; overflow:hidden; opacity:0; border-radius:5px;}
.port__list.on li {animation:fadeIn .65s forwards ease-in-out; -webkit-animation:fadeIn .65s forwards ease-in-out;}
.port__list li a {display:block; height:100%; cursor:pointer;}
.port__list li a:focus img ,
.port__list li a:hover img {transform:scale(1.1); -webkit-transform:scale(1.1);  transition: transform .7s; -webkit-transition: transform .7s;}

.port__list li a img {width:100%; height:auto;}
.port__list li .over .tit {margin-top:60px; font-size:18px; line-height:26px; text-align:center;}
.port__list li .over .tit span.date {display:block; font-size:16px; margin-top:10px; letter-spacing:0;}

.port__list li .over .more {display:inline-block; position:absolute; left:50%; width:108px; margin-left:-54px; bottom:-300%; font-size:16px; font-weight:bold; padding:10px 0 12px; border-top:2px solid #fff; border-bottom:2px solid #fff; color:#fff; text-align:center;}
.port__list li .over .more:after {display:inline-block; content:"+"; font-size:14px; margin-left:5px; color:#fff;}
.tmb_tit {position: absolute; left: 0; top: 50%; right: 0; bottom: 0; margin-top: -1em; font-size: 50px; text-align: center; color: #fff;}

.ico_wrap {position:absolute; top:5px; right:5px;}
span.ico {display:inline-block; padding:4px 6px; font-size:12px; font-family:Arial; vertical-align:top; border-radius:4px; background:rgba(2, 2, 2, 0.6); color:#fff;}
li.even span.ico {color:#000;}
span.ico ~ .ico {margin-left:3px;}
span.ico.new {color:#b6ff00;}

.main__visual {position:relative; margin-top:130px; height:810px; background:url(https://heodokyung.github.io/portfolio/img/main/bg_main_visual.jpg) no-repeat 50% 50%; background-size:cover; background-attachment:fixed;}
.main__visual .title_wrap {position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0, 0, 0, 0.4); z-index:5; padding:40px 30px;}
.main__visual .tit {font-size:72px; line-height:84px; color:#fff; font-family:"notoSansB";
    animation:slideInDown .85s forwards ease-in-out; -webkit-animation:slideInDown .85s forwards ease-in-out;}
.main__visual .tit span {text-stroke: 1px #fff; -webkit-text-stroke: 1px rgba(255, 255, 255, 0.774); color:transparent; background-clip: text; -webkit-background-clip: text;
    -moz-background-clip: text;}
.main__visual .sub_tit {margin-top:40px; font-size:18px; line-height:24px; color:#fff; word-break:keep-all; /* animation:fadeInLeft 1.2s ease-in-out; -webkit-animation:fadeInLeft 1.2s ease-in-out; */}

.main__visual img {display:none;}
.container {background:#fff; word-break:keep-all;}

/* Work Skill */
.skill__list {max-width:1500px; padding:30px 10px; text-align:center; margin: 0 auto; overflow:hidden; opacity:0;}
.skill__list.on {opacity:1; animation:zoomIn .65s forwards ease-in-out; -webkit-animation:zoomIn .65s forwards ease-in-out;}
.skill__list li {display:inline-block; position:relative; width:22.5%; height:205px; margin:0 1% 35px 1%; box-sizing:border-box; text-align:center; color:#222; border:2px solid #eee; border-radius:5px; transition: 0.6s; transform-style: preserve-3d;}
.skill__list li .over {border-radius:5px;}
.skill__list li .over .tit {position:absolute; top:50%; left:50%; width:60px; height:60px; border-radius:50%; margin:-30px 0 0 -30px; text-align:center; color:#fff; border:2px solid #fff; line-height:60px; font-weight:bold; font-size:16px; z-index:5;}
.skill__list li.on {transform: rotateY(180deg);}
.skill__list li .front,
.skill__list li .back {position: absolute; backface-visibility:hidden; -webkit-backface-visibility:hidden; width:100%; height:100%; box-sizing: border-box;}
.skill__list li .front {z-index:5; transform: rotateY(0deg);}
.skill__list li .front:before {display:inline-block; width:64px; height:64px; margin-top:40px; content:""; background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}
.skill__list li .back {display:flex; align-items: center; transform: rotateY(180deg); padding: 30px; background: #eee; color: #222; font-size: 14px; word-break: keep-all;}
.skill__list li .front p {position:absolute; top:130px; left:0; right:0; text-align:center; width:100%;}

.skill__list li.html .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list1.png);}
.skill__list li.script .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list2.png);}
.skill__list li.jquery .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list3.png);}
.skill__list li.vue .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list4.png);}
.skill__list li.sass .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list5.png);}
.skill__list li.zeplin .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list6.png);}
.skill__list li.jira .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list7.png);}
.skill__list li.wiki .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list8.png);}
.skill__list li.redmine .front:before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list9.png);}
.skill__list li.git .front::before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list10.png);}
.skill__list li.sublime .front::before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list11.png);}
.skill__list li.slack .front::before {background-image:url(https://heodokyung.github.io/portfolio/img/main/ico_skill_list12.png);}

/* Work info */
.step--list__guide > ul {position:relative;}
.step--list__guide > ul:before {position: absolute; height: calc(100% - 95px); content: ""; border-left: 1px dashed #172336; top: 9px; left: -1px; bottom: 38px;}
.info__about .step--list__guide > ul:before {height: calc(100% - 55px);}
.step--list__guide > ul > li {position:relative; margin-top:30px; padding-left:20px; font-size:20px; word-break:keep-all;}
.step--list__guide > ul > li .desc-img {margin-top:20px;}
.step--list__guide > ul > li .desc-img img {width:400px; height:auto;}
.step--list__guide > ul > li:before,
.step--list__guide > ul > li:after {display:inline-block; content:""; position:absolute; border-radius:50%;}
.step--list__guide > ul > li:before {z-index:5; top:7px; background:#172336; width:12px; height:12px; left:-7px;}
.step--list__guide > ul > li:after {z-index:10; top:10px; background:#fff; width:6px; height:6px; left:-4px;}
.step--list__guide > ul > li:first-of-type {margin-top:0;}

.habit_saving .step--list__guide ul {margin-top:60px;}
.info__wrap {max-width:1500px; padding:20px 10px; margin:0 20px; opacity:0;}
.info__wrap.on {animation:fadeIn .65s forwards ease-in-out; -webkit-animation:fadeIn .65s forwards ease-in-out;}
.info__wrap dl + dl,
.info__wrap > div + div {margin-top:25px;}
.info__wrap dt {font-weight:bold; font-size:18px; margin-bottom:7px;}
.info__wrap dl ul li {margin-top:5px; font-size:15px; line-height:20px; padding-left:10px; background:url(https://heodokyung.github.io/portfolio/img/ico_list_square.gif) no-repeat 2px 10px;}
.info__wrap dl ul li:first-of-type {margin-top:0;}
.info__wrap dl {transform: translate3d(-200%, 0, 0);}
.work_experience .info__wrap.on li:nth-of-type(1) dl {animation:slideInLeft .6s forwards ease-in-out; -webkit-animation:slideInLeft .6s forwards ease-in-out;}
.work_experience .info__wrap.on li:nth-of-type(2) dl {animation:slideInLeft .9s forwards ease-in-out; -webkit-animation:slideInLeft .9s forwards ease-in-out;}
.work_experience .info__wrap.on li:nth-of-type(3) dl {animation:slideInLeft 1.2s forwards ease-in-out; -webkit-animation:slideInLeft 1.2s forwards ease-in-out;}
.work_experience .info__wrap.on li:nth-of-type(4) dl {animation:slideInLeft 1.5s forwards ease-in-out; -webkit-animation:slideInLeft 1.5s forwards ease-in-out;}
.work_experience .info__wrap.on li:nth-of-type(5) dl {animation:slideInLeft 1.8s forwards ease-in-out; -webkit-animation:slideInLeft 1.8s forwards ease-in-out;}

.info__about {padding-bottom:40px;}
.info__about .info__wrap.on li:nth-of-type(1) dl {animation:slideInLeft .6s forwards ease-in-out; -webkit-animation:slideInLeft .6s forwards ease-in-out;}
.info__about .info__wrap.on li:nth-of-type(2) dl {animation:slideInLeft .9s forwards ease-in-out; -webkit-animation:slideInLeft .9s forwards ease-in-out;}
.info__about .info__wrap.on li:nth-of-type(3) dl {animation:slideInLeft 1.2s forwards ease-in-out; -webkit-animation:slideInLeft 1.2s forwards ease-in-out;}
.info__about .info__wrap.on li:nth-of-type(4) dl {animation:slideInLeft 1.5s forwards ease-in-out; -webkit-animation:slideInLeft 1.5s forwards ease-in-out;}
.info__about .info__wrap.on li:nth-of-type(5) dl {animation:slideInLeft 1.8s forwards ease-in-out; -webkit-animation:slideInLeft 1.8s forwards ease-in-out;}
.info__about .info__wrap.on li:nth-of-type(6) dl {animation:slideInLeft 2s forwards ease-in-out; -webkit-animation:slideInLeft 2s forwards ease-in-out;}
.info__about .info__wrap li a {color:inherit;}

.progressbar {position:relative; width:0; height:5px; left:0; top:0px; background:#ffd700; transition: width 0.3s ease; -webkit-transition: width 0.3s ease; z-index:10;}

/* movement_wrap */
.movement__wrap {position:absolute; left:50%; margin-left:-18px; bottom:45px; z-index:10;}
.movement__wrap div {position:relative; width:36px; height:54px; border-radius: 20px; border:2px solid #fff; }
.movement__wrap div em {display:inline-block; width:4px; height:4px; background:#fff; text-indent:-9999px; border-radius:2px; position:absolute; top:20%; left:45%; animation-name:mainMouse; animation-iteration-count: infinite; animation-timing-function: ease-in-out; animation-fill-mode:forwards; animation-duration: 2s;}

@keyframes mainMouse {
    0%{top:20%;}
    100%{top:80%;}
}

/* 타이핑 */
.typing--txt{display: none;}
.typing ul li.on {display: inline-block; animation-name: cursor; animation-duration: 0.15s; animation-iteration-count: infinite;}
@keyframes cursor {
    0%{border-right: 1px solid #f8f8f8}
    50%{border-right: 1px solid #222}
    100%{border-right: 1px solid #f8f8f8}
}
/*******************************
    02. MEDIA QUARY CSS
********************************/
/* MIN-WIDTH */
@media only screen and (min-width:480px){
    .port__list li {width:100%;}
}

@media only screen and (min-width:639px){
    .port__list li {width:50%;}
}

@media only screen and (min-width:1023px){
    .port__list li {width:23%; margin:0 1% 35px}
}

@media only screen and (min-width:1500px){
    .port__list li {width:18%; margin:0 1% 35px}
}


/* MAX-WIDTH */
@media screen and (max-width:1240px)  {
    .port__list li {width:30%; margin:0 1.66% 30px;}
    .port__list li .over .tit span {font-size:22px; margin-top:0;}
}

@media only screen and (max-width:960px) {
    .skill__list li {width:30%; margin:0 1% 15px 1%;}
    .main__visual {height:450px}
    .main__visual img {display:block; width:100%; height:auto;}
}

@media screen and (max-width:850px) {
    .info__wrap  ul li br {display:none;}
    .main__visual .tit {font-size:42px; line-height:50px}
    .main__visual .sub_tit {font-size:14px; margin-top:30px}
    .movement__wrap {bottom:24px;}
    .port__list li {width:46%; margin:2% 2% 20px 2%;}
    .port__list {padding: 13px 10px 10px;}
    .skill__list li {width:45%; margin:0 2% 20px 2%;}
}

@media screen and (max-width:420px) {
    .main__visual {height:320px}
    .sort__wrap select,
    .sort__wrap .sch_txt {width:49%;}
    .port__list li .over .tit span.date {display:none;}
    .port__list li .over .tit {margin-top:45px;}
}

@media screen and (max-width:560px) {
    .main__visual .title_wrap {padding:20px;}
    .main__visual .tit {font-size:28px; line-height:36px;}
    .movement__wrap {bottom: 15px;}
    .movement__wrap div {width:24px; height:38px;}
    .main__visual .sub_tit {display:none;}
    .sort__wrap {padding: 8px 20px;}
    .main .title {margin: 20px 20px 0; font-size:28px;}
    .port__list li .over .tit {font-size:16px; line-height:20px;}
    /* .skill__list li {width:100%; margin:0 0 20px 0;} */
    .port__list li .over .more {display:none;}
    #header__area.wide #logo {left:20px;}
    #header__area.wide #gnb {right:20px;}
}

@media only screen and (max-width:380px) {
    .port__list li {height:auto;}
}

@media only screen and (max-width:360px) {
    #logo a {padding-left:0}
}



