@charset 'UTF-8';
/****************************************
* Padding, Margin 정의
* p는 padding, m은 margin을 나타냄.
* t는 상단 b는 하단 l은 왼쪽 r은 오른쪽의 방향
* ex :
* pt10 => padding-top:10px
* mb22 => margin-bottom: 22px
*****************************************/

/**
  px값 List를 만들어주는 함수입니다.
*/
@function size($start, $end) {
    $size : ();
    @for $i from $start through $end {
            $value : $i + 0;
            $size : append($size, $value);
    }
    @return $size;
}

/**
값이 0일때는 0으로, 그 외에는 'px'을 붙여줍니다.
ex) 0 => 0, 10 => 10px
*/
@function getPx($value) {
    @if $value == 0 {
            @return $value !important;
    } @else {
            @return $value + 0px !important;
    }
}

/**
px 값입니다.
0 ~ 100px 까지 조정하게 만들었습니다.
*/
$size : size(0, 100);

/**
margin과 padding의 각 위치를 지정해주는 map 입니다.
key는 class이름 생성시 쓰이며 value는 상세 속성 정의시 쓰입니다.
*/
$position : ('l':'left', 'r':'right', 't':'top', 'b':'bottom');

/**
margin과 padding 생성을 위한 map입니다.
key는 class이름 생성시 쓰이며 value는 상세 속성 정의시 쓰입니다.
*/
$nameMap : ('m':'margin', 'p':'padding');
/**
실제 css class를 만들어주는 mixin입니다.
nameMap, position, size를 혼합하여 아래와 같은 형식으로 만들어줍니다.

ex>
m0 : { margin : 0; }
mt1 : { margin-top : 1px; }
pb22 : {padding-bottom:22px}
*/
@mixin generate($nameMap : (), $position : (), $size : ())
{
  @each $preKey, $preValue in $nameMap
  {
    @each $px in $size
    {
      .#{$preKey}#{$px} { #{$preValue} : getPx($px);}

        @each $sufKey, $sufValue in $position
        {
          .#{$preKey}#{$sufKey}#{$px} { #{$preValue}-#{$sufValue} : getPx($px);}
        }
    }
  }
}


@include generate($nameMap, $position, $size);

/***********************************************************
* 배경 이미지만 변경해야 하는 속성을 사용할 때
* Background : 공통 요소 사용.
* background-image만 정의
***********************************************************/
@mixin background__common {background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}


/* 말줄임 Mixin */
@mixin text__overflow {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
@mixin mulit__overflow($line:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

/* 포지션 타입 정의 */
@mixin position($p: absolute, $t: null, $b: null, $l: null, $r: null) {
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}
